body, html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  background: linear-gradient(rgba(0, 4, 255, 0.616), rgba(255, 0, 0, 0.63)),url("/img/claus.png");
  background-size: cover;
  background-position: center;
  color: #fff;
}

.logo {
  display: flex;
  height: 30vh;
  margin-top: .5vh;
  animation-name: floating;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.text-description {
  display: flex;
  letter-spacing: 5px;
  font-family: sans-serif;    
}

.form-control {
  background: transparent !important;
  color: #fff !important;
}

a .fab {
  color: #ffc;
  font-size: 30px;
  margin: 0 10px;
}

.imagx{
  display: flex;
  height: 60vh;
  width: 50vh;
  margin-top: -25vh;
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.imgc{
  display: flex !important;
  border: 0vh;
  padding: 0vh;
  margin-bottom: 24vh;
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}